.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title_wish {
  font-size: 40px;
  padding: 30px;
  font-weight: bolder;
}
.imgwishlist {
  width: 400px;
}
.p_w {
  width: 70%;
  text-align: justify;
  row-gap: 10px;
  font-size: large;
}

@media only screen and (max-width: 780px) {
  .main {
    flex-direction: column;
  }
  .imgwishlist {
    width: 200px;
  }

  .p_w {
    width: 100%;
  }
}
