.dashboardMainDiv {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.dashboardMainDiv .headerSec {
  position: relative;
  width: 100%;
}
.dashboardMainDiv .contentMainSec {
  background-color: #f5f8fa;
  height: 84%;
  overflow-x: hidden;
  overflow-y: auto;
}
