.background_color {
  background-color: #daf7a6;
  height: 300px;
  margin-top: 40px;
}
.text_white {
  color: white;
  font-weight: bolder;
  margin-top: 20px;
  padding-top: 30px;
}
.p_white {
  color: white;
  font-weight: bold;
  font-size: larger;
}
